<tr>
  <td><%= (content_tag :a, gist.question[0,25], :href => admin_question_path(gist.question)).html_safe %></td>
  <td><%= (content_tag :a, gist.gist_url, :href => gist.gist_url).html_safe %></td>
  <td><%= gist.user %></td>
</tr>





