<p><%= current_year %> | 
  Меня зовут Вася  </a> |
  <a href= <%= github_url(:aldav99, :cur21) %> target="_blank"> Проект TestGuru </a> | 
  Проект предназначен для проведения тестирования | 
  <a href="https://thinknetica.com" target="_blank"> Учебный проект в онлайн-школе Thinknetica</a> 
</p>
