<p><%= current_year %> | 
  Меня зовут Вася  </a> |
  <%= github_link('aldav99', 'cur21') %> | 
  Проект предназначен для проведения тестирования | 
  <a href="https://thinknetica.com" target="_blank"> Учебный проект в онлайн-школе Thinknetica</a> 
</p>
