<p>Добро пожаловать <%= @email %>!</p>

<p>Вы можете подтвердить вашу учетную запись при помощи ссылки внизу:</p>

<p><%= link_to 'Подтвердить учетную запись', confirmation_url(@resource, confirmation_token: @token) %></p>
