<div class="row justify-content-center">
  <div class="col col-md-6">
    <h1><%= t('.header') %></h1>
    <div class="card border-primary text-center">
      <div class="card-body">

        <%= render "form" %>

        <%= link_to t('back'), admin_tests_path %>
      </div>
    </div>
  </div>
</div>